body h2 {
    background-color: blanchedalmond;
    text-align: center;
    height: 53px;
    padding-top: 14px;
    margin: 0px;
}

img {
    width: 100px;
    height: 100px;
    border-radius: 57px;
    border: 2px solid black;


}


.box1 {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 82px;

}


.box {
    height: 14vh;
    width: 100vw;

}

.scoreboard {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 102px;
}

.scoreu {
    text-align: center;
    font-size: 30px;
}


.scorec {
    text-align: center;
    font-size: 30px;
}


.choice:hover {
    background-color: brown;
    cursor: pointer;
}

.scoreu p {
    margin: 2px;
}

.scorec p {
    margin: 2px;
}

.whowin {
    display: flex;
    justify-content: center;
    margin-top: 17px;
}

.win {

    text-align: center;
    font-size: 27px;
    width: 400px;
    height: 42px;
    background-color: yellowgreen;
    border: 3px solid black;
    border-radius: 9px;
}