body {
    background-color: #F0E4D3;
    text-align: center;
}

.container {
    height: 40vh;
    width: 100vw;
    display: flex;
    justify-content: center;


}

.box {
    height: 27vh;
    width: 22vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5px;

}

.press {
    height: 84px;
    width: 104px;
    border: 2px solid black;
    box-shadow: 22px 12px 8px black;
    border-radius: 7px;
    font-size: 40px;
    color: crimson;
    background-color: lightgreen;
    cursor: pointer;

}
@media screen and (max-width:900px) {
    .box {
          width: 164px;
        height: 80px;
    }

    .press {
         width: 53px;
        height: 56px;
        font-size: 20px;
    }
    .container{
         height: 26vh;
         width: 100vw;
    }
}



.refresh button {
    background-color: #F0E4D3;
    width: 74px;
    height: 35px;
    border: 2px solid black;
    border-radius: 7px;
    cursor: pointer;
}

.newg #newgame {
    visibility:hidden;
    background-color: #555879;
    width: 91px;
    height: 23px;
    font-weight: bold;
    border-radius: 7px;



}

.newg p {
    color: black;
    font-size: larger;
}